APP_URL=
NODE_ENV=development

# Auth
APP_SECRET=

# Database
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

# Mongo
MONGO_URL=

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

# Sentry
SENTRY_DSN=https://eedac2cd10c941429f703985db39c717@sentry.io/1799907